// Just the body and base structure..


html {

  }
  
*{
  font-family: $font-myriad-pro;
}

  body {

  }

  .container {

  }
  
  h1 {
  font-family: $font-myriad-pro;
  text-align: center;
  color: $dark-gray;
  font-size: 2em;
  }


  .header {
    background-image: url("../img/header-photo.jpg");
    background-attachment: fixed;
    background-position: 80% 30%;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    min-height: 36rem;
  }
