@import "_mixins.scss";

//Clearfix - (move to other file??)
.clearfix {
     clear: left;
}

*{  //Things to be implemented on all elements
	font-family: $font-myriad-pro;
}

html{
  background-color: $light-gray;
  width: 100%;
}

body{
  background-color: $white;
}

a{
	text-decoration: none;
	color: $dark-gray;
}

p{
	font-weight: 300;
	font-size: 100%;
}

h1 {
text-align: center;
color: $dark-gray;
font-size: 2em;
}

li{
	list-style: none;
}
 span{
  font-weight: 500;
   color: $dark-gray;
   font-size: 1em;
   margin-bottom: 0.5rem;
 }

.container {
    max-width: $full-width;
    margin: 0 auto;
    padding: 32px 16px 32px 16px;
    padding: 2rem 1rem 2rem 1rem;
    @media #{$tablet}{
			padding: 80px 16px 80px 16px;
			padding: 5rem 1rem 5rem 1rem;
		}
    @media #{$desktop}{
			padding: 160px 16px 160px 16px;
			padding: 10rem 1rem 10rem 1rem;}
}
