//The body and base structure

*{  //Things to be implemented on all elements
  font-family: $font-myriad-pro;
}

body {

  }

a{
  text-decoration: none;
  color: $dark-gray;
}

p{
  font-weight: 300;
  font-size: 100%;
}
.container {

  }
