
// COLORS
$dark-gray: #3d3d3d;    //For background and text on white background
$white: #ffffff;        //For background and text on dark-gray background
$light-gray: #dddddd;   //For background to separate sections
$accent-color: #d3672f; //Accent color

// FONTS
$font-main: 'Merriweather', Helvetica, sans-serif;
$font-myriad-pro:"Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;

// @mediaQueries
$tablet:"only screen and (min-width: 768px)";
$desktop:"only screen and (min-width: 1366px)";
// $mobile:"only screen and (min-width: 640px)";