@import "_mixins.scss";
@import "_variables.scss";

//Header

//About us

//Recent projects
.recentProject{
  padding: 5%;
}
.recentProjectContainer{
  width: 300px;
  padding: 5%;
}

//Reviews

.review{
  width: 25%;
  padding-left:32px;
  padding-right: 32px;
}

//The team

//Contact form

//Footer
.footer{
  background-image: url("../images/footer-photo.png");
}
