@import "_mixins.scss";
@import "_variables.scss";

//Header

.header-container{
  background-color: rgb(255, 0, 128);
  background-image: $dt-header-photo;
  height: 640px;
  // width: 150em;
  margin: 0;
  
}

//Logo and slogan
.logo-block img{
  position: relative;
  display: block;
  top: 150px;
  margin-left: -28%;
  padding: 0; 
  width: 55%;

}

.logo-block p.slogan{
  font-size: 400%;
  color: rgb(58,58,58);
  text-align: center;
  margin-top: 75px;
  margin-left: -22%;
}

body{
  // background-color: rgb(0, 132, 255);
}

//About us

//Recent projects
.recentProjects{
  padding-left: 10%;
}
.recentProject{
  padding: 5%;
}
.recentProjectContainer{
  @include float;
  width: 300px;
  padding: 5%;
  :nth-child(2){
    float:right;
  }
}

//Reviews
.reviews{
  padding-left: 10%;
  padding-right: 10%;
}
.review{
  padding: 5%;
}

//The team
.img-container{
}

//Contact form


//Footer
.footer{
  // background-image: url("../images/footer-photo.svg");
  // background-repeat: no-repeat;
  // position: relative;
  // width:100%;
  // height: 100%;
  // background-blend-mode: overlay;
  // min-height: 15rem;
  // background-size: cover;
}
