@import "_normalize.scss";
@import "_variables.scss";
@import "_base.scss";
@import "_mixins.scss";

//Header
.header-container{
  @include header-style($mb-header-photo);

  @media #{$tablet}{
    background-image: $pt-header-photo;
    height: 30rem;
  }
  @media #{$desktop}{
    background-image: $dt-header-photo;
    height: 40rem;
  }
}

//Logo and slogan
.logo-block img , p.slogan{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.logo-block img{
  position: overlay;
  display: block;
  margin: 0 auto;
  width: 55%;

}

.logo-block p.slogan{
  text-align: center;
  color: $white;
  margin-top: 9%;
  font-size: 1rem;

  @media #{$tablet}{
    font-size: 2.2rem;
  }
  @media #{$desktop}{
    font-size: 3.5rem;
  }
}

//Navigation
ul.nav{
  background-color: $dark-gray;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 20px 0 20px 0;
}

.nav > li{
  display: inline-block;
  padding: 0 10px 0 10px;
  a{
    color: $white;
    font-size: .7rem;
    text-decoration: none;
  &:hover{
    color: $accent-color;
  }
}

  @media #{$tablet}{
    padding: 0 25px 0 25px;
    a{
      font-size: 1rem;
    }
  }

  @media #{$desktop}{
    padding: 0 35px 0 35px;
    a{
      font-size: 1.5rem;
    }
  }
}


//About
.section-about p{
    text-align: center;
    color: $dark-gray;
    @media #{$tablet}{ font-size: 1.5em;}
}

//Cases - Projects
.recentProjects{
  background-color: $light-gray;
  @media #{$tablet}{
    :nth-child(odd){ //Changes placement of each and every project
      flex-direction: row-reverse;
    }
  }
}
.recentProject{
  @include flex;
  justify-content: center;
  img{
    width: 100%;
  }
  @media #{$tablet}{
    justify-content: space-around;
    padding-top: 2em;
    img{
      width: 130%;
      }
  }
  @media #{$desktop}{
    justify-content: space-between;
    padding: 2em;
    img{
      width: 100%;
    }
  }
}

  .recentProjectContainer{
  padding-top: 32px;
  padding-top: 2em;
  @media #{$tablet}{
    width: 15em;
  }
  @media #{$desktop}{
    width: 300px;
    width: 25em;
  }
}

.recentProjectContainer:nth-child(even){ //The textarea of projects
  width: 20em;
  padding-bottom:32px;
  padding-bottom: 2em;
  text-align: center;
  @media #{$tablet}{
    text-align: left;
    padding:0;
    width: 15em;
  }
  @media #{$desktop}{
    width: 20em;
  }
}

.oldWebsite{
  @include button-style;
}

input[type=button]:hover{
  background-color: $accent-color;
}

//Reviews
#fallback-shigoto{
  background: url(images/shigoto.png);
  width: 200px;
  height: 200px;
}

.reviews{
  @include flex;
  justify-content: center;
  padding: 3em 0 3em 0;
  padding: 48px;
  @media #{$tablet}{
    padding: 40px 0 40px 0;
    padding: 2.5em 0 2.5em 0;
  }
}
.review{
  @include float;
  width: 270px;
  width: 15em;
  padding: 16px;
  padding: 1em;
  @media #{$tablet}{padding: 2.5em; padding: 40px;}
  img{
    width: 200px;
  }
  :nth-child(2){ //height to keep the quoted person's name at bottom
     height: 80px;
     height: 5em;
  }
  :last-child{ //Quoted person's name to the right
    float: right;
  }
}
//The Team
.section-team{
  background-color: $light-gray;
  p{
    text-align: center;
    color: $dark-gray;
  }
}

.images-container{
  @include flex;
  justify-content: space-around;
  text-align: center;
  img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
}

.img-container{
   @include float;
   margin: 20px;
    margin: 1rem;
    text-align: center;
  }

//Contact form
h1.contact-us{
  margin: 3rem 0 1rem 0;
  text-align: center;
  font-family: $font-myriad-pro;
  color: $dark-gray;
  font-size: 1.8rem;

  @media #{$tablet}{
    margin: 5rem 0 1rem 0;
  }
  @media #{$desktop}{
    margin: 7rem 0 1rem 0;
  }
}

.form-container{
  margin: 0 auto;
  width: 250px;
  border-radius: 5px;
  padding: 20px;
  font-size: 1rem;
  color: $dark-gray;

  @media #{$tablet}{
    width: 80%;
    max-width: 1300px;
    .form-row{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      :nth-child(1){
        padding: 16px;
        padding: 1rem;
        flex-grow: 1;
    }
      :nth-child(2) {
        padding: 16px;
        padding: 1rem;
        flex-grow: 1;
    }
  }
}

  @media #{$desktop}{
    max-width: 1300px;
    .form-row{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      :nth-child(1){
        padding: 16px;
        padding: 1rem;
        flex-grow: 1;
    }
      :nth-child(2) {
        padding: 16px;
        padding: 1rem;
      flex-grow: 1;
    }
  }
}
}

input[type=text],textarea{
  width: 100%;
  padding: 12px;
  border: 2px solid $light-gray;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.form-row-textarea{
  @media #{$tablet}{padding: 16px; padding: 1rem;}

}


// Placeholder webkits
input[type=text]::placeholder, textarea::placeholder{
  color: $placeholder-light-gray;
}

input[type=text]::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
  color: $placeholder-light-gray;
}

input[type=text]::-moz-placeholder, textarea::-moz-placeholder{
  color: $placeholder-light-gray;
}

input[type=text]:-moz-placeholder, textarea:-moz-placeholder{
  color: $placeholder-light-gray;
}

input[type=text]:-ms-input-placeholder, textarea:-ms-input-placeholder{
  color: $placeholder-light-gray;
}

.form-row-button{
  display: flex;
  justify-content: center;
}

input[type=submit]{
  @include button-style;
}

input[type=submit]:hover{
  background-color: $accent-color;
}


// Button scrollup

button#myBtn{
  @include button-scrollback;
  padding: 0;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
}


// Footer
footer{
  background-image: url("../images/footer-photo.svg");
  background-repeat: no-repeat;
  position: relative;
  width:100%;
  height: 100%;
  background-blend-mode: overlay;
  min-height: 15rem;
  background-size: cover;
  @media #{$tablet}{
    min-height: 25rem;
  }
  @media #{$desktop}{
    min-height: 35rem;
  }
}

//Footer media icons
.footer-social-icons{
  text-align: center;
  margin: 2em auto;
  position: relative;
  top: 80px;
  width: 100%;
  height: 100px;

  .social-icons{
    padding: 0;
    display: flex;
    justify-content: center;

    li{
      margin: 0;
      &:nth-child(1){
        padding-right: 2rem;
      }
      &:nth-child(2){
        padding-right: 2rem;
      }
    }
  }
  .footer-adress{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p.adress{
      align-self: center;
      color:$white;
      font-size: 120%;
      margin: 0;
    }
  }
  @media #{$tablet}{
    top: 12rem;
    width: 100%;
    height: 100px;
    .social-icons{

      li{
        margin: 0;
        &:nth-child(1){
          padding-right: 2rem;
        }
        &:nth-child(2){
          padding-right: 2rem;
        }
        img{
          width: 60%;
          height: auto;
        }
      }
    }
    .footer-adress{
      margin-top: 2.5rem;

      p.adress{
        align-self: center;
        font-size: 150%;
        margin: 0;
      }
    }
  }
  @media #{$desktop}{
    top: 256px;
    top: 16rem;
    width: 100%;
    height: 100px;
    .social-icons{

      li{
        margin: 0;
        &:nth-child(1){
          padding-right: 96px;
          padding-right: 6rem;
        }
        &:nth-child(2){
          padding-right: 96px;
          padding-right: 6rem;
        }
        img{
          width: 100%;
          height: auto;
        }
      }

    }
    .footer-adress{
      margin-top: 3rem;
      p.adress{
        font-size: 180%;
        margin: 16px;
        margin: 1rem;
      }
    }
  }
} //end of social media icons styling

p.adress{
  font-size: 150%;
  margin: 8px;
  margin: 0.5em;
  color:$white;
  text-align: center;
}


ul.social-icons > li{
  display: inline-block;
  margin-right: 8%;
  text-decoration: none;

  img{
    width: 55%;
    height: auto;
    &:hover{
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
    }
  }
}

@media #{$desktop}{
  input[type=submit]{
    padding: 15px 20px;
  }
}
