@import "_normalize.scss";
@import "_variables.scss";
@import "_base.scss";
@import "_mixins.scss";


//Clearfix - (move to other file??)
.clearfix {
     clear: left;
}

//Header
.header-container{
  @include header-style($mb-header-photo);
}


//Logo and slogan
.logo-block img , p.slogan{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.logo-block img{
  position: overlay;
  display: block;
  margin: 0 auto;
  width: 55%;

}

.logo-block p.slogan{
  text-align: center;
  color: $white;
  margin-top: 9%;
  font-size: 1rem;
}

//Navigation
ul.nav{
  background-color: $dark-gray;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 20px 0 20px 0;
}

.nav > li{
  display: inline-block;
  padding: 0 10px 0 10px;
}

.nav > li > a{
  color: $white;
  font-size: .7rem;
  text-decoration: none;
}

.nav > li > a:hover{
  color: $accent-color;
}

//About
.section-about p{
    text-align: center;
    color: $dark-gray;
    @media #{$tablet}{ font-size: 1.5em;}
}

//Cases - Projects
.recentProjects{
  background-color: $light-gray;
  @media #{$tablet}{
    :nth-child(odd){ //Changes placement of each and every project
      flex-direction: row-reverse;
    }
  }
}
.recentProject{
  /*@include float;*/
  @include flex;
  justify-content: center;
  img{
    width: 100%;
  }
  @media #{$tablet}{
    justify-content: space-around;
    padding-top: 2em;
    img{
      width: 130%;
      }
  }
  @media #{$desktop}{
    justify-content: space-between;
    padding: 2em;
    img{
      width: 100%;
    }
  }
}

  .recentProjectContainer{
  padding-top: 32px;
  padding-top: 2em;

  @media #{$tablet}{
    width: 15em;
  }
  @media #{$desktop}{
    width: 300px;
    width: 25em;
  }
}

.recentProjectContainer:nth-child(even){ //The textarea of projects
  width: 20em;
  padding-bottom:32px;
  padding-bottom: 2em;
  text-align: center;
  @media #{$tablet}{
    text-align: left;
    padding:0;
    width: 15em;
  }
  @media #{$desktop}{
    width: 20em;
  }
}

.oldWebsite{
  @include button-style;
}

input[type=button]:hover{
  background-color: $accent-color;
}

//Reviews
.reviews{
  @include flex;
  justify-content: center;
  padding: 3em 0 3em 0;
  padding: 48px;
  @media #{$tablet}{padding: 2.5em 0 2.5em 0; padding: 40px 0 40px 0;}
  @media #{$desktop}{padding: 5em 0 5em 0; padding: 80px 0 80px 0;}
}
.review{
  width: 270px;
  width: 15em;
  padding: 16px;
  padding: 1em;
  @media #{$tablet}{padding: 2.5em; padding: 40px;}
  @media #{$desktop}{padding: 5em; padding: 80px}
  img{
    width: 200px;
  }
  :nth-child(2){ //height to keep the quoted person's name at bottom
     height: 80px;
     height: 5em;
  }
  :last-child{ //Quoted person's name to the right
    float: right;
  }
}
//The Team
.section-team{
  background-color: $light-gray;
  p{
    text-align: center;
    color: $dark-gray;
  }
}

.images-container{
  @include flex;
  justify-content: space-around;
  text-align: center;
  img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
}

.img-container{
   @include float;
   margin: 20px;
    margin: 1rem;
    text-align: center;
  }

// Contact form
h3.contact-us{
  margin: 30px 0 0 0;
  text-align: center;
  font-family: $font-myriad-pro;
  color: $dark-gray;
  font-size: 1.6rem;
}

.form-container{
  margin: 0 auto;
  width: 250px;
  border-radius: 5px;
  padding: 20px;
  font-size: 1rem;
  color: $dark-gray;
}

input[type=text],textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


// Placeholder webkits
input[type=text]::placeholder, textarea::placeholder{
  color: $placeholder-light-gray;
}

input[type=text]::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
  color: $placeholder-light-gray;
}

input[type=text]::-moz-placeholder, textarea::-moz-placeholder{
  color: $placeholder-light-gray;
}

input[type=text]:-moz-placeholder, textarea:-moz-placeholder{
  color: $placeholder-light-gray;
}

input[type=text]:-ms-input-placeholder, textarea:-ms-input-placeholder{
  color: $placeholder-light-gray;
}

input[type=submit]{
  @include button-style;
}

input[type=submit]:hover{
  background-color: $accent-color;
}


// Button scrollup

button#myBtn{
  @include button-scrollback;
  padding: 0;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
}




// Footer
footer{
  background-image: url("../images/footer-photo.svg");
  background-repeat: no-repeat;
  position: relative;
  width:100%;
  height: 100%;
  background-blend-mode: overlay;
  min-height: 15rem;
  background-size: cover;
}

//Footer media icons
.footer-social-icons{
  text-align: center;
  margin: 2em auto;
  position: relative;
  top: 80px;
  width: 100%;
  height: 100px;

  .social-icons{
    padding: 0;
    display: flex;
    justify-content: center;

    li{
      margin: 0;
      &:nth-child(1){
        padding-right: 2rem;
      }
      &:nth-child(2){
        padding-right: 2rem;
      }    
    }
  }

  .footer-adress{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2.adress{
      align-self: center;
      margin: 0;
    }
  }
}



h2.adress{
  font-size: 1rem;
  margin: 0;
  color:$white;
  margin-right: 5%;
  text-align: center;
}


ul.social-icons > li{
  display: inline-block;
  margin-right: 8%;
  text-decoration: none;

  img{
    width: 55%;
    height: auto;
    &:hover{
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
    }

  }

}





/* Media queries */
//MediaQuery for screen-size 768px
@media only screen and (min-width: 768px) {

  .header-container{
    background-image: $pt-header-photo;
    height: 30rem;
  }

  .logo-block p.slogan{
    font-size: 2.2rem;
  }

  .nav > li{
    padding: 0 25px 0 25px;
  }

  .nav > li > a{
    font-size: 1rem;
  }

  //About
  .section-about p{
     font-size: 1.5em;
  }

  // Contact form
  h3.contact-us{
    font-size: 2.5rem;
  }

  .form-container{
    width: 400px;
    font-size: 1.5rem;
    color: $dark-gray;
  }

  input[type=submit]{
    padding: 15px 20px;
  }

  // Footer
  footer{
    min-height: 25rem;
  }

  .footer-social-icons{
    top: 12rem;
    width: 100%;
    height: 100px;
  
    .social-icons{
  
      li{
        margin: 0;
        &:nth-child(1){
          padding-right: 2rem;
        }
        &:nth-child(2){
          padding-right: 2rem;
        }

        img{
          width: 60%;
          height: auto;
        }
      }
    }
  
    .footer-adress{
      margin-top: 2.5rem;
  
      h2.adress{
        align-self: center;
        font-size: 1.4rem;
        margin: 0;
      }
    }
  }

}


//Media query for screen-size 1366px
@media only screen and (min-width: 1366px) {

  .header-container{
    background-image: $dt-header-photo;
    height: 40rem;
  }

  .logo-block p.slogan{
    font-size: 3.5rem;
  }

  .nav > li{
    padding: 0 35px 0 35px;
  }

  .nav > li > a{
    font-size: 1rem;
  }

  // Contact form
  h3.contact-us{
    font-size: 3rem;
  }


  .form-container{
    width: 55%;
    max-width: 1300px;

    .form-row{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }

  }

  .form-row :nth-child(1){
    flex-grow: 1;
}
  .form-row :nth-child(2) {
    flex-grow: 1;
}


  input[type=submit]{
    padding: 15px 20px;
  }

  // Footer
  footer{
    background-image: url("../images/footer-photo.svg");
    min-height: 35rem;
  }

  .footer-social-icons{
    top: 12rem;
    width: 100%;
    height: 100px;
  
    .social-icons{
  
      li{
        margin: 0;
        &:nth-child(1){
          padding-right: 6rem;
        }
        &:nth-child(2){
          padding-right: 6rem;
        }

        img{
          width: 100%;
          height: auto;
        }
      }
    }
  
    .footer-adress{
      margin-top: 3rem;
  
      h2.adress{
        align-self: center;
        font-size: 2rem;
        margin: 0;
      }
    }
  }
}

