@import "_variables.scss";
@import "_normalize.scss";
@import "_base.scss";
@import "_mixins.scss";


$myriad:"Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
$black-text:#3d3d3d;
$tablet:"only screen and (min-width: 768px)";
$desktop:"only screen and (min-width: 1366px)";
$full-width:55rem;

body{
	margin: 0;
}

h1 {
 font-family: $myriad;
 text-align: center;
 color: $black-text;
 font-size: 2em;
}

.section {
  &-about .container {
    padding: 2rem 1rem 2rem 1rem;
    max-width: $full-width;
    margin: 0 auto;
    @media #{$tablet}{ padding: 5em 1rem 5rem 1rem;}
    @media #{$desktop}{ padding: 10em 1rem 10rem 1rem;}
    p{
			font-family: $myriad;
			font-weight: 300;
			text-align: center;
			color: $black-text;
			font-size: 1em;
			@media #{$tablet}{ font-size: 1.5em;}
    }
  }
  &-team{
  	background-color: #dddddd;
  }
  &-team .container{
  	max-width: $full-width;
  	margin: 0 auto;
  	padding: 2rem 1rem 2rem 1rem;
  	@media #{$tablet}{ padding: 5em 1rem 5rem 1rem;}
    @media #{$desktop}{ padding: 10em 1rem 10rem 1rem;}

      p{
			font-family: $myriad;
			font-weight: 300;
			text-align: center;
			color: $black-text;
			font-size: 1em;
			@media #{$tablet}{ font-size: 1.5em;}
    }

    span{
    	font-family: $myriad;
			font-weight: 400;
			color: $black-text;
			font-size: 1em;
			margin-bottom: 0.5rem;
    }

  }
  &-team .images-container{
  	img{
  		height: 200px;
  		width: 200px;
  	}
  	display: flex;
  	flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

  &-team .img-container{
  	margin-top: 1rem;
  	text-align: center;
  }
}
